/* stylelint-disable  no-descending-specificity */

@import url(./global.css);

section.sidebar {
  width: 54px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  position: fixed;
  background-color: var(--bg-color-5);
  z-index: 5;
}

img.sidebar {
  cursor: pointer;
}

div.sidebar-buttons {
  width: 42px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  transform: translateY(-100%);
}

button.start-chat,
button.create-group {
  width: 42px;
  min-height: 42px;
  border-radius: 16px;
  border: none;
  background-color: var(--green-color) !important;
  color: #fff;
  font-size: 23px;
}

button.create-group > img {
  width: 18px;
  height: 18px;
}

section.sidebar > .wrapper {
  width: 42px;
  display: flex;
  flex-direction: column;
}

section.sidebar > .wrapper > button {
  height: 42px;
  background: none;
  border: none;
}

#dashboard {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

section.contacts {
  width: 92%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  transition: transform 0.5s;
  position: relative;
  z-index: 3;
  margin-left: 54px;
}

section.contacts > .header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1.title {
  font-weight: bold;
}

section.contacts > .header input[type="search"] {
  height: 36px;
  width: 100%;
  background-color: var(--bg-color-3);
  border: none;
  border-radius: 12px;
  padding: 0 15px;
  outline: var(--link-text-color);
  color: var(--text-light-color-2);
}

section.contacts > .header input[type="search"]::placeholder {
  color: var(--text-light-color-2);
  font-size: 14px;
}

div.contacts-sort {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
}

p.contacts-sort {
  font-size: 12px;
  color: var(--text-light-color);
}

select.contacts-sort {
  background: none;
  border: none;
  outline: none;
  color: var(--text-color-1);
  font-size: 14px;
}

option.contacts-sort {
  border: none;
  background: none;
}

.contacts-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  gap: 16px;
  overflow-y: scroll;
}

.contact-details {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;

  /* background-color: brown; */
}

.contact-details > * {
  height: 100%;
}

.contact-details > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div.chat-details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-basis: 80%;
  margin: 0 10% 0 2%;
  cursor: pointer;
}

div.chat-details > * {
  font-size: 14px;
}

.message-details > p {
  font-size: 12px;
  white-space: nowrap;
  color: var(--text-light-color-2);
}

div.chat-details > p {
  color: var(--text-light-color);
}

p.message-status {
  color: var(--green-color);
  text-align: right;
}

div.new-message-alert {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--green-color);
  align-self: flex-end;
}

div.start-chat,
div.create-group {
  width: 350px;
  height: 350px;
  border-radius: 11px;
  background-color: var(--bg-color-2);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

div.create-group {
  height: 150px;
}

#start-chat-header-wrapper,
#create-group-header-wrapper {
  width: 100%;
  height: 50px;
  padding: 15px;
  background-color: var(--green-color);
  display: flex;
  gap: 25px;
  color: #fff;
  text-transform: capitalize;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
}

form.create-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

#create-group-btn {
  align-self: flex-end;
  border: none;
  border-radius: 8px;
  background-color: var(--green-color);
  color: var(--white-color);
  padding: 7px;
  margin-right: 11px;
  cursor: pointer;
}

#close-select-contact,
#close-create-group {
  font-weight: bolder;
}

#start-chat-search-contacts,
#create-group-text-input {
  width: 90%;
  background-color: var(--white-color);
  border: none;
  padding: 10px;
  border-radius: 11px;
}

div.start-chat-search-results {
  width: 100%;
  flex-grow: 2;
  overflow-y: scroll;
}

div.start-chat-search-results > div {
  width: 100%;
  height: 50px;
  max-height: 50px;
  display: flex;
  align-items: center;
  padding: 0 7px;
  gap: 7px;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--bg-color-3);
}

div.start-chat-search-results > div > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-basis: 80%;
  margin: 0 10% 0 2%;
  cursor: pointer;
}

div.start-chat-search-results > div > div > * {
  font-size: 14px;
}

div.start-chat-search-results > div > div > p {
  color: var(--text-light-color);
}

/* Chat section starts */

section.chats {
  width: 92%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;

  /* z-index: -1; */
  padding: 15px 0;
}

section.chats > .header {
  width: 97%;
  min-height: 42px;
  display: flex;
}

section.chats > .header > img {
  height: 100%;
}

img.back-arrow {
  height: 50% !important;
  padding-right: 25px;
  cursor: pointer;
}

.chat-contact-details {
  flex-basis: 80%;
  margin-right: 8%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-contact-details > h2 {
  font-size: 16px;
}

.chat-contact-details > p {
  font-size: 14px;
  color: var(--green-color);
}

.chat-other-options {
  min-width: 84px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chat-other-options > .icon-options {
  width: 18px;
  cursor: pointer;
}

div.chat-box {
  width: 92%;
  flex-basis: 90%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  padding: 5px 0;
}

.message-holder {
  width: auto;
  max-width: 75%;
  padding: 15px;
  background-color: var(--bg-color-4);
  border-radius: 16px;
}

.own-message {
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.message-details,
.own-message {
  margin-right: 2%;
}

.contact-message-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.contact-message-wrapper > img {
  height: 24px;
}

.contact-message {
  border-top-left-radius: 0;
}

.message-holder > p {
  word-break: break-all;
}

.message-holder > .message-time {
  padding-top: 11px;
  font-size: 12px;
  color: var(--text-light-color);
}

.message-holder > .message-time > span {
  color: var(--green-color);
}

.own-message > .message-time {
  text-align: right;
}

.own-message > .message-time > span {
  padding-right: 5px;
}

.contact-message > .message-time {
  text-align: left;
}

form.send-message {
  width: 100%;
  min-height: 36px;
  display: flex;
  align-items: center;
  gap: 10px;
}

form.send-message > * {
  height: 100%;
}

form.send-message > input[type="text"] {
  flex-basis: 93%;
  padding: 0 15px;
  border: none;
  outline: none;
}

form.send-message > input[type="submit"] {
  background: none;
  border: none;
  color: var(--green-color);
  font-size: 14px;
  font-weight: 700;
}

img.attach-file {
  height: 15px;
  margin-left: 10px;
}

/* Chat section ends */

/* Desktop version starts */

@media screen and (min-width: 1000px) {
  #dashboard {
    display: flex;
  }

  section.contacts {
    width: 33%;
    padding: 15px;
    transform: translateX(0) !important;
  }

  button.start-chat {
    margin-bottom: 0;
  }

  section.chats {
    flex-basis: 66%;
    position: relative;
    z-index: 1;
  }

  .back-arrow {
    display: none;
  }
}

/* Desktop version ends */

/* stylelint-enable  no-descending-specificity */
