:root {
  --primary-font: "Poppins", sans-serif;
  --green-color: #27ae60;
  --red-color: #eb4335;
  --black-color: #000000;
  --white-color: #ffffff;
  --text-light-color: #8d8d8d;
  --text-light-color-2: #808080;
  --link-text-color: #4285f4;
  --bg-color-1: rgba(255, 255, 255, 0.75);
  --bg-color-2: #e9f1ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

/* Mobile styles starts*/

@keyframes preloader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#loading-spinner {
  width: 25px;
  height: 25px;
  position: fixed;
  top: 3%;
  right: 3%;
  border-radius: 50%;
  border: 1px solid;
  border-left: none;
  border-bottom: none;
  animation: preloader 1s linear 0s infinite normal forwards;
}

/* App response-box starts */

#app-response-box {
  position: fixed;
  top: 3%;
  right: 3%;
  background-color: var(--bg-color-1);
  padding: 15px 50px;
  border-radius: 11px;
  font-size: 13px;
}

/* App response-box ends */

/* Main section starts */

main {
  width: 100%;
  min-height: 876px;
  margin: auto;
  background: var(--white-color) url(../assets/home-bg-min.jpg) no-repeat left;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Logo starts here */

.logo {
  margin-left: 42px;
  align-self: flex-start;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: var(--black-color);
}
/* Logo ends here */

/* Registration section starts */

section.registration {
  width: 87%;
  max-width: 539px;
  min-height: 741px;
  background-color: var(--bg-color-1);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 1s;
}

section.registration > div {
  width: 83%;
}

section.registration > .title-wrapper {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-wrapper > .wrapper {
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: space-between;
}

.title-wrapper > .wrapper > p {
  font-size: 15px;
}

#form-switch {
  background: none;
  border: none;
  text-align: left;
  color: var(--text-light-color);
  font-size: 13px;
}

.highlight {
  text-transform: uppercase;
  color: var(--green-color);
  font-weight: 800;
}

.title {
  font-size: 40px;
  font-weight: 300;
}

.api-signup-wrapper {
  height: 56px;
  /* width: 272px !important; */
  display: flex;
  justify-content: space-between;
  /* background-color: yellow; */
}

.api-signup-btn {
  width: 13%;
  height: 100%;
  border-radius: 9px;
  border: none;
  font-size: 12px;
  background-color: var(--white-color);
}

.api-signup-btn.google {
  width: 66%;
  background-color: var(--bg-color-2);
  color: var(--link-text-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.api-signup-btn > img {
  width: 18px;
}

.registration-form-wrapper {
  min-height: 352px;
  /* background-color: #27ae60; */
}

#registration-form {
  width: 100%;
  min-height: 352px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 38px;
}

.form-sections {
  width: 100%;
  min-height: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 13px;
}

label {
  font-size: 14px;
  width: 100%;
  text-align: left;
}

.form-sections > input {
  width: 100%;
  height: 57px;
  padding: 0 15px;
  border: 1px solid #adadad;
  border-radius: 9px;
  outline-color: var(--link-text-color);
}

.form-sections > input::placeholder {
  font-weight: 300;
  font-size: 13px;
  color: var(--text-light-color-2);
}

#forgot-password {
  background: none;
  border: none;
  color: var(--link-text-color);
  font-size: 11px;
}

.submit {
  width: 149px;
  height: 54px;
  border-radius: 10px;
  border: none;
  background-color: var(--green-color);
  color: var(--white-color);
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
}
/* Registration section ends */

/* Main section ends  */

/* Mobile styles ends */

/* Desktop styles starts */

/* Changing registration section at 1024px as required by the design */
@media screen and (min-width: 1024px) {
  section.registration {
    align-self: flex-end;
    margin-right: 118px;
  }
}

/* Changing form styles at 539px as required by the design */
@media screen and (min-width: 539px) {
  .title-wrapper > .wrapper > p {
    font-size: 21px;
  }

  section.registration > .title-wrapper {
    height: 116px;
  }

  .title {
    font-size: 55px;
    font-weight: 500;
  }

  .api-signup-btn {
    font-size: 16px;
  }

  .api-signup-btn > img {
    width: 29px;
  }

  label {
    font-size: 16px;
  }

  .form-sections > input::placeholder {
    font-size: 14px;
  }

  #forgot-password {
    font-size: 13px;
  }

  .submit {
    width: 236px;
  }
}
/* Desktop styles ends */

/* Global styles starts */

.dp-no {
  display: none;
}

.clr-green {
  color: var(--green-color);
}

.clr-red {
  color: var(--red-color);
}

button {
  cursor: pointer;
}

/* Global styles ends */
